[Unit]
Description=Foundry VTT
After=network.target

[Service]
User=ubuntu
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/foundryvtt
ExecStart=/usr/bin/node resources/app/main.js --dataPath=/home/ubuntu/foundrydata
Restart=always

[Install]
WantedBy=multi-user.target
